[GENERAL]
liquid_instance: LIQUID

[LIQUID]
host:
port:
username:
password:
wallet:
passphrase:

[AMP]
url:
username:
password:
token:
assetuuid:

[GDK]
mnemonic:
subaccount:
address:
amp0_user:
amp0_password:
amp0_assetid:

[LWK]
mnemonic:
address:
assetid:
