certifi==2021.10.8
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-Limiter==1.4
Flask-QRcode==3.0.0
Flask-Stache==0.1.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
limits==2.0.3
MarkupSafe==1.1.1
Pillow==8.3.2
pystache==0.5.4
qrcode==6.1
requests==2.25.1
six==1.15.0
urllib3==1.26.5
wallycore==0.8.4
Werkzeug==2.0.2
