chain=liquidtestnet

# Liquid Testnet (liquidtestnet) settings:
[liquidtestnet]

# General settings:
daemon=0
server=1
listen=1
txindex=1 
addnode=liquid.network:18444
addnode=liquid-testnet.blockstream.com:18891
fallbackfee=0.00000100

# liquidtestnet RPC settings (local RPC calls - optional):
rpcuser=vale
rpcpassword=pippo
rpcport=18893
rpcbind=0.0.0.0
rpcallowip=0.0.0.0/0
port=18891

rest=1

datadir=/opt/liquidtestnet.com/elements/chain/
