<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Liquidtestnet.com" />
    <meta name="author" content="Valerio Vaccaro" />
    <link rel="icon" href="" />
    <title>Liquid testnet</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/base.css" rel="stylesheet" />
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/explorer">Explorer</a>
          <a class="navbar-brand" href="/mempool">Mempool</a>
          <a class="navbar-brand" href="/faucet">Faucet</a>
          <a class="navbar-brand" href="/issuer">Issuer</a>
          <a class="navbar-brand" href="/utils">Utils</a>
          <a
            class="navbar-brand"
            href="https://liquidwebwallet.org/testnet/"
            target="_blank"
            >Liquid Web Wallet</a
          >
          <a class="navbar-brand" href="/about">About</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <br /><br /><br /><br />
      <div id="sl">
        <br /><br />
        <div class="well">
          <h3>Open source</h3>
          <p>The MIT License</p>
          <br />
          <p>Copyright 2021-2024 Valerio Vaccaro</p>
          <br />
          <p>
            Permission is hereby granted, free of charge, to any person
            obtaining a copy of this software and associated documentation files
            (the "Software"), to deal in the Software without restriction,
            including without limitation the rights to use, copy, modify, merge,
            publish, distribute, sublicense, and/or sell copies of the Software,
            and to permit persons to whom the Software is furnished to do so,
            subject to the following conditions:
          </p>
          <br />
          <p>
            The above copyright notice and this permission notice shall be
            included in all copies or substantial portions of the Software.
          </p>
          <br />
          <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
            EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
            NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
            BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
            ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
            CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
          </p>
          <br />
          <p>
            Source code availabe on
            <a
              href="https://github.com/valerio-vaccaro/liquidtestnet.com"
              target="_blank"
              >Github page</a
            >.
          </p>
          <br />
          <p>Totally based on LWK.</p>
          <br />

          <h3>API</h3>
          <p>
            All functions will be expose on API interface with the same limit
            connected with http pages.
          </p>

          <h3>TIP</h3>
          <p>
            Tip on Liquid main net
            <code
              >VJLDmgJH4HSARzpvSMjfWjrxcYfybnQFZda6jcTBzC8G97m8McZ47yguVwETSTGgRfgf4WQaZhmMr61D</code
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
