<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="author" content="Valerio Vaccaro">
      <link rel="icon" href="">
      <title>Liquid faucet</title>
      <link href="/static/bootstrap.min.css" rel="stylesheet">
      <link href="/static/base.css" rel="stylesheet">
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Home</a>
              <a class="navbar-brand" href="/explorer">Explorer</a>
              <a class="navbar-brand" href="/faucet">Faucet</a>
              <a class="navbar-brand" href="/issuer">Issuer</a>
              <a class="navbar-brand" href="/utils">Utils</a>
              <a class="navbar-brand" href="/about">About</a>
            </div>
         </div>
      </nav>
      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>
            <div class="well">
               <h3>Faucet</h3>
               <p>Balance: {{balance}}</p>
               {{^form}}
               <p>{{result}}</p>
               {{/form}}
               {{#form}}
               <form action="/faucet" method="get">
                   <div class="form-group row">
                      <label for="address" class="col-sm-2 col-form-label">Address</label>
                      <div class="col-sm-10">
                         <input type="text" class="form-control" name="address" required="required" id="address" placeholder="address">
                      </div>
                   </div>
                   <div class="form-group row">
                      <div class="col-sm-10">
                         <button type="submit" class="btn btn-danger" name="action" value="lbtc">Send assets</button>
                      </div>
                   </div>
                </form>
                {{/form}}

	       <h3>Faucet TEST asset</h3>
	       <p>TEST (asset id 38fca2d939696061a8f76d4e6b5eecd54e3b4221c846f24a6b279e79952850a5) is a Liquid testnet asset registered in the Blockstream assset registry.</p> 
               <p>Balance: {{balance_test}}</p>
               {{^form_test}}
               <p>{{result_test}}</p>
               {{/form_test}}
               {{#form_test}}
               <form action="/faucet" method="get">
                   <div class="form-group row">
                      <label for="address" class="col-sm-2 col-form-label">Address</label>
                      <div class="col-sm-10">
                         <input type="text" class="form-control" name="address" required="required" id="address" placeholder="address">
                      </div>
                   </div>
                   <div class="form-group row">
                      <div class="col-sm-10">
                         <button type="submit" class="btn btn-danger" name="action" value="test">Send assets</button>
                      </div>
                   </div>
                </form>
                {{/form_test}}
                <p>You can send back unused coins at the address <b>tlq1qqtqzkja0rptmvsz5gs0jz47c2x7wjlcmqfj4h8vpu3v6qxe9lc08walamcf8e8s0qlwtzkfyylevz2wknycx75gx2scx9fl67</b>.</p>
            
	       <h3>Faucet AMP asset</h3>
               <p> bea126b86ac7f7b6fc4709d1bb1a8482514a68d35633a5580d50b18504d5c322 is a Liquid testnet asset registered in the Blockstream AMP platform.</p>
               {{^form_amp}}
               <p>{{result_amp}}</p>
               {{/form_amp}}
               {{#form_amp}}
               <form action="/faucet" method="get">
                   <div class="form-group row">
                      <label for="address" class="col-sm-2 col-form-label">AMP ID</label>
                      <div class="col-sm-10">
                         <input type="text" class="form-control" name="address" required="required" id="address" placeholder="AMP ID">
                      </div>
                   </div>
                   <div class="form-group row">
                      <div class="col-sm-10">
                         <button type="submit" class="btn btn-danger" name="action" value="amp">Send assets</button>
                      </div>
                   </div>
                </form>
                {{/form_amp}}
                <p>You can send back unused AMP assets at the address <b>vjTvPHdcJFZrYL9LmFpPootd1tmWqzugF9MXwhet6cdeCKEK6WJrb2mPEQGw7WNpikAoTq9ui22GU2pS</b>.</p>
	    </div>
         </div>
      </div>
      </div>
   </body>
</html>
