<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Liquidtestnet.com">
      <meta name="author" content="Valerio Vaccaro">
      <link rel="icon" href="">
      <title>Liquid testnet</title>
      <link href="/static/bootstrap.min.css" rel="stylesheet">
      <link href="/static/base.css" rel="stylesheet">
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <a class="navbar-brand" href="/">Home</a>
               <a class="navbar-brand" href="/explorer">Explorer</a>
               <a class="navbar-brand" href="/faucet">Faucet</a>
               <a class="navbar-brand" href="/issuer">Issuer</a>
               <a class="navbar-brand" href="/utils">Utils</a>
               <a class="navbar-brand" href="/about">About</a>
            </div>
         </div>
      </nav>
      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>
            <div class="well">
               <h3>What is Liquid testnet?</h3>
               It's a testnet for the Liquid sidechain. 

               <h3>How to join?</h3>
               <pre>
chain=liquidtestnetv1

# General settings:
listen=1
txindex=1
validatepegin=0
anyonecanspendaremine=0

# Liquid Testnet V1 (liquidtestnetv1) settings:
[liquidtestnetv1]
initialfreecoins=2100000000000000
con_dyna_deploy_start=999999999999
con_max_block_sig_size=150
connect=liquidtestnet.com:18891
signblockscript=51210209caad6d1e4fa3fddd4ee67f3e2aa9c280abfe3b30bfcd625874fe27e3e49e5e51ae

# liquidtestnetv1 RPC settings (local RPC calls - optional):
daemon=1
server=1
rpcuser=user
rpcpassword=password
rpcport=18891
            </pre>

               <h3>Statistics</h3>
               <p>Heigh: {{heigh}}</p>
               <p>Mempool: {{mempool}}</p>
               <p>Disk space: {{space}}</p>
               <p>Board name: {{uname}}</p>
               <p>Uptime: {{uptime}}</p>

            </div>
         </div>
      </div>
      </div>
   </body>
</html>
