<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="author" content="Valerio Vaccaro">
      <link rel="icon" href="">
      <title>Liquid faucet</title>
      <link href="/static/bootstrap.min.css" rel="stylesheet">
      <link href="/static/base.css" rel="stylesheet">
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Home</a>
              <a class="navbar-brand" href="/explorer">Explorer</a>
              <a class="navbar-brand" href="/faucet">Faucet</a>
              <a class="navbar-brand" href="/issuer">Issuer</a>
              <a class="navbar-brand" href="/utils">Utils</a>
              <a class="navbar-brand" href="/about">About</a>
            </div>
         </div>
      </nav>
      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>
            <div class="well">
              <h3>New issuance</h3>
              {{^form}}
              <p>You issued the asset {{asset_id}} in transaction {{txid}} with contract
              <pre><code>
{{contract}}
              </pre></code>
              </p>
              <p>If you want register this asset create a file on https://{{domain}}/.well-known/liquid-asset-proof-{{asset_id}} with content
              <pre><code>
Authorize linking the domain name {{domain}} to the Liquid asset {{asset_id}}
              </code></pre>
              </p>
              <p>And register executing the following command
              <pre><code>
curl https://assets.blockstream.info/ --data-raw '{{registry}}'
              </code></pre>
              <p>In order to see the name in your node you can add to elements core config file the following line:
              <pre><code>
assetdir={{asset_id}}:{{name}} - {{domain}}
              </code></pre>
              </p>
              </p>
              {{/form}}
              {{#form}}
              <form action="/issuer" method="get">
                  <input type="hidden" id="command" name="command" value="asset">
                  <div class="form-group row">
                     <label for="asset_amount" class="col-sm-2 col-form-label">Asset amount</label>
                     <div class="col-sm-10">
                        <input type="number" step="1" min="0" max="2100000000000000" lang="en" class="form-control" name="asset_amount" required="required" id="asset_amount" placeholder="1">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="asset_address" class="col-sm-2 col-form-label">Asset address</label>
                     <div class="col-sm-10">
                        <input type="text" lang="en" class="form-control" name="asset_address" required="required" id="asset_address" placeholder="">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="token_amount" class="col-sm-2 col-form-label">Reissunace token amount</label>
                     <div class="col-sm-10">
                        <input type="number" step="1" min="0" max="2100000000000000" lang="en" class="form-control" name="token_amount" required="required" id="token_amount" placeholder="1">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="token_address" class="col-sm-2 col-form-label">Token address</label>
                     <div class="col-sm-10">
                        <input type="text" lang="en" class="form-control" name="token_address" required="required" id="token_address" placeholder="">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="domain" class="col-sm-2 col-form-label">Domain</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" name="domain" required="required" id="domain" placeholder="xyzcoin.com">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="name" class="col-sm-2 col-form-label">Name</label>
                     <div class="col-sm-10">
                        <input type="text" minlength="5" maxlength="255" class="form-control" name="name" required="required" id="name" placeholder="XYZ Instable Coin">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="ticker" class="col-sm-2 col-form-label">Ticker</label>
                     <div class="col-sm-10">
                        <input type="text" minlength="3" maxlength="5" class="form-control" name="ticker" required="required" id="ticker" placeholder="XYZ">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="precision" class="col-sm-2 col-form-label">Precision</label>
                     <div class="col-sm-10">
                        <input type="number" min="0" max="8" class="form-control" name="precision" required="required" id="precision" placeholder="0">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="pubkey" class="col-sm-2 col-form-label">PubKey</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" name="pubkey" required="required" id="pubkey" placeholder="">
                     </div>
                  </div>
                  <div class="form-group row">
                     <div class="col-sm-10">
                        <button type="submit" class="btn btn-danger" name="action" value="create">Issue assets</button>
                     </div>
                  </div>
               </form>
               {{/form}}
            </div>
         </div>
      </div>
      </div>
   </body>
</html>
